streamlit==1.25.0
pandas
numpy
sentence-transformers==2.2.2
torch==2.2.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
transformers
PyPDF2
docx2txt
streamlit-option-menu
Pillow
nltk
plotly
